:root {
    --color-text-dark-blue: hsl(238, 29%, 16%);
    --color-text-soft-red: hsl(14, 88%, 65%);
    --color-text-dark-grayish-blue: hsl(237, 12%, 33%);
    --color-text-grayish-blue: hsl(240, 6%, 50%);
    --color-background-violet: hsl(273, 75%, 66%);
    --color-background-blue: hsl(240, 73%, 65%);
    --color-dividers-grayish-blue: hsl(240, 5%, 91%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-items: center;
    background-image: linear-gradient(
        to bottom,
        var(--color-background-blue),
        var(--color-background-violet)
    );
    height: 100vh;
    font-size: 12px;
    line-height: 1.5rem;
    font-family: "Kumbh Sans", sans-serif;
}

.wrapper {
    width: 65vw;
    height: 60vh;
}

.card {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: white;
}

.card__content {
    margin: 5rem;
    margin-left: 35rem;
}

.illustration {
    position: absolute;
    left: -45%;
    top: -52%;
}

.illustration__background-woman,
.illustration__box-box {
    position: inherit;
    align-items: center;
    top: 40%;
    left: 50%;
}
