:root {
    --color-text-dark-blue: hsl(238, 29%, 16%);
    --color-text-soft-red: hsl(14, 88%, 65%);
    --color-text-dark-grayish-blue: hsl(237, 12%, 33%);
    --color-text-grayish-blue: hsl(240, 6%, 50%);
    --color-background-violet: hsl(273, 75%, 66%);
    --color-background-blue: hsl(240, 73%, 65%);
    --color-dividers-grayish-blue: hsl(240, 5%, 91%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-items: center;
    background-image: linear-gradient(
        to bottom,
        var(--color-background-blue),
        var(--color-background-violet)
    );
    height: 100vh;
    min-height: 100vh;
    font-size: 15px;
    line-height: 1.3rem;
    font-family: "Kumbh Sans", sans-serif;
}

.wrapper {
    min-width: 33rem;
    max-width: 92rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 2rem;
    overflow: hidden;
}

.card__content {
    margin: 5rem;
    margin-left: 30rem;
}
.title {
    font-size: 250%;
    font-weight: 700;
    margin-bottom: 2rem;
}

.questions-accordion {
    width: 28vw;
    transition: all 300ms ease-in-out;
}

.questions__block {
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid var(--color-dividers-grayish-blue);
    color: var(--color-text-grayish-blue);
    transition: 0.3s;
}

.questions__block:hover {
    color: var(--color-text-soft-red);
}
.active {
    color: var(--color-text-dark-blue);
    font-weight: 700;
}

.question {
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
}

.answer {
    display: none;
    overflow: hidden;
    color: var(--color-text-grayish-blue);
    font-weight: 400;
    padding-bottom: 1rem;
    font-size: 14px;
}
.rotate {
    transform: rotate(180deg);
}

.illustration {
    position: absolute;
    transform: translateX(-59%) translateY(-38%);
    background-image: url(https://res.cloudinary.com/kreiva/image/upload/v1648541140/bg-pattern-desktop_crndzz.svg);
    width: 966px;
    height: 945px;
    background-repeat: no-repeat;
    overflow: visible;
}

.illustration__background-woman {
    transform: translateX(105%) translateY(110%);
    background-image: url(https://res.cloudinary.com/kreiva/image/upload/v1648541140/illustration-woman-online-desktop_hbaswg.svg);
    background-repeat: no-repeat;
    width: 472px;
    height: 359px;
}

.illustration__background-box {
    position: absolute;
    background-image: url(https://res.cloudinary.com/kreiva/image/upload/v1648541140/illustration-box-desktop_cnjqsl.svg);
    width: 191px;
    height: 184px;
    background-repeat: no-repeat;
    transform: translateX(245%) translateY(90%);
}

/* MEDIA*/
@media (max-width: 375px) {
    body {
        font-size: 13px;
        line-height: 1.2rem;
    }
    .wrapper {
        margin-top: 15%;
        height: 70vh;
        min-width: 12rem;
        max-width: 20rem;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 2rem;
        overflow: visible;
    }

    .card__content {
        padding: 2rem;
        margin-left: 0;
        margin-top: 8rem;
    }
    .questions-accordion {
        width: 15rem;
    }

    .illustration {
        transform: translateX(16%) translateY(-10%);
        background-image: url(https://res.cloudinary.com/kreiva/image/upload/v1648541140/bg-pattern-mobile_oqvdmu.svg);
        width: 240px;
        height: 104px;
    }

    .illustration__background-woman {
        transform: translateX(0%) translateY(-30%);
        background-image: url(https://res.cloudinary.com/kreiva/image/upload/v1648541141/illustration-woman-online-mobile_gatv6w.svg);
        width: auto;
        height: 359px;
    }

    .illustration__background-box {
        display: none;
    }
}
